.gradientButton {
  padding: 8px 12px;
  background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
  color: #991b1b;
  border: none;
  font-weight: "bold";
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: 44px;
}

.deleteButton {
  background: transparent !important;  /* remove background completely */
  color: #991b1b;
  border: none;
  border-radius: 0;   /* remove rounded effect */
  padding: 0 !important;  /* remove any spacing */
  margin: 0;  /* just in case */
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: 20px;
  width: 10px;
}

.editButton {
  background: transparent !important;  /* remove background completely */
  color: #2955e6;
  border: none;
  border-radius: 0;
  padding: 0 !important;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
   height: 20px;
  width: 16px;
}
.actionColumn{
  width: 80px;
  text-align: center;
}