.gradientButton {
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  text-transform: none;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
  display: flex;
  align-items: center;
  /* vertical center */
  justify-content: center;
  /* horizontal center */
}

.deleteButton {
  background: #fee2e2;
  color: #991b1b;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.editButton {
  background: #dbeafe;
  /* हलका निळा */
  color: #2955e6;
  /* गडद निळा */
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}